# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
helloworld/helloworld.dSYM/Contents/Info.plist
.DS_Store
build-Genesis_Toolkit_qt-Qt_6_6_1_for_macOS-Debug
Genesis_Toolkit_qt/.gitignore
Genesis_Toolkit_qt/Genesis_Toolkit_qt.pro.user
Genesis_Toolkit_qt/Genesis_Toolkit_qt.pro